<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029240710848-fdj15d1g865e7u0bbt7crpvbmu9vod9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029240710848-fdj15d1g865e7u0bbt7crpvbmu9vod9r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1029240710848-k0h4lf1kstl78qj409j9212uqq69cuma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGZS96VClnydF0jjbf9M4bevRHHya8r1I</string>
	<key>GCM_SENDER_ID</key>
	<string>1029240710848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.qc.followup.followUpApp</string>
	<key>PROJECT_ID</key>
	<string>follow-up-f7e48</string>
	<key>STORAGE_BUCKET</key>
	<string>follow-up-f7e48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029240710848:ios:cdc8a14f6a679a5ce4ef25</string>
</dict>
</plist>